*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
   text-decoration: none !important; 
   color:unset !important;
}
ul{
    list-style-type: none;
}
.header-main{
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 60px;
}
#ex4 .p1[data-count]:after{
    position:absolute;
    right:10%;
    top:8%;
    content: attr(data-count);
    font-size:40%;
    padding:.2em;
    border-radius:50%;
    line-height:1em;
    color: white;
    background:rgba(255,0,0,.85);
    text-align:center;
    min-width: 18px;
  }

  #ex4 .fa-stack{
    width: 1.5em;
  }